<h3>Mailbox</h3>

<ul class='nav nav-tabs'>
  <li class='<%= 'active' if params[:tab].nil? or params[:tab] == 'inbox' %>'>
    <%= link_to "Inbox", conversations_path(tab: 'inbox') %>
  </li>
  <li class='<%= 'active' if params[:tab] == 'outbox' %>'>
    <%= link_to "outbox", conversations_path(tab: 'outbox') %>
  </li> 
</ul>

<% if params[:tab].nil? or params[:tab] == 'inbox'%>
  <table class='table table-striped'>
    <tr>
      <td>Subject</td>
      <td>Sender</td>
    </tr>
    <% @mailbox.inbox.each do |conv| %>
    <tr>
      <td><%= link_to conv.subject, conversation_path(conv) %></td>
      <td><%= link_to conv.last_sender.username,  user_path(conv.last_sender) %></td>
    </tr>
    <% end %>
  </table>
<% elsif params[:tab] == 'outbox' %>
  <table class='table table-striped'>
    <tr>
      <td>Subject</td>
      <td>Receiver</td>
    </tr>
    <% @mailbox.sentbox.each do |conv| %>
      <tr>
        <td><%= link_to conv.subject, conversation_path(conv) %></td>
        <td><%= link_to conv.recipients.first.username,  user_path(conv.recipients.first) %></td>
      </tr>
    <% end %>
  </table>
<% end %>