= render '/shared/content_title', title: 'Mailbox'

%ul(class='nav nav-tabs')
  %li(class="= 'active' if params[:tab].nil? or params[:tab] == 'inbox'")
    = link_to "Inbox", conversations_path(tab: 'inbox')
  %li(class="= 'active' if params[:tab] == 'outbox'")
    = link_to "outbox", conversations_path(tab: 'outbox')

- if params[:tab].nil? or params[:tab] == 'inbox'
  %table(class='table table-striped')
    %tr
      %td Subject
      %td Sender
      %td Time
    - @mailbox.inbox.each do |conv|
      %tr
        - if conv.is_unread?(current_user)
          %td
            %strong= link_to "#{conv.subject}: #{conv.last_message.body[0,20]}...", conversation_path(conv)
        - else
          %td= link_to "#{conv.subject}: #{conv.last_message.body[0,20]}...", conversation_path(conv)
        %td= link_to (conv.participants - [current_user]).first.username,  user_path((conv.participants - [current_user]).first)
        %td= distance_of_time_in_words(Time.now, conv.last_message.created_at) + " ago"
- elsif params[:tab] == 'outbox'
  %table(class='table table-striped')
    %tr
      %td Subject
      %td Receiver
      %td Time
    - @mailbox.sentbox.each do |conv|
      %tr
        %td= link_to "#{conv.subject}: #{conv.last_message.body[0,20]}...", conversation_path(conv)
        %td= link_to (conv.participants - [current_user]).first.username,  user_path((conv.participants - [current_user]).first)
        %td= distance_of_time_in_words(Time.now, conv.last_message.created_at) + " ago"