= render '/shared/content_title', title: 'Conversation'
 
.panel.panel-default
  .panel-heading
    %strong Subject: 
    = @conversation.subject
  .panel-body
    .messages
      - @conversation.receipts_for(current_user).each do |receipt|
        - message = receipt.message
        .well
          = message.body
          %br
          %br
          .small
            From 
            = link_to message.sender.username, message.sender
            = distance_of_time_in_words(Time.now, message.created_at) + " ago"

= form_tag({controller: 'messages', action: 'reply', id: @conversation.id}, method: 'post') do
  .control-group
    = text_area_tag :reply_body, nil, cols: 50, rows: 5
  = submit_tag 'Reply', class: 'btn btn-primary'