<%= render '/shared/content_title', title: 'Conversation' %>
 
<div class="panel panel-default">
  <div class="panel-heading"><strong>Subject: </strong><%= @conversation.subject %></div>
 
  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <% message = receipt.message %>
        <div class='well'>
          <%= message.body %><hr/>
          From <%= link_to message.sender.username, message.sender %> on <%= message.created_at.in_time_zone(Time.zone).strftime("%-d %B %Y, %H:%M:%S %Z") %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= form_tag({controller: 'messages', action: 'reply', id: @conversation.id}, method: 'post') do %>
  <div class='control-group'>
    <%= text_area_tag :reply_body, nil, cols: 25, rows: 5 %>
  </div>
  <%= submit_tag 'Reply' %>
<% end %>