= render '/shared/content_title', title: 'Edit your profile'

- if current_user.summoner_id.present?
  %p Your account is linked.
  %br
  = bootstrap_form_for @user do |f|
    .row
      .col-sm-4
        = f.email_field :email
    .row
      .col-sm-4
        = f.password_field :password
        = f.primary 'Update'
- else
  %p Take a minute to link your League of Legends account to update your profile with winrates, kda, etc.
  %ol
    %li Click on the Generate Token button.
    %li Name your first rune page as the generated token. Be sure to save your runepage after!
    %li Fill in your summoner name and your region.
    %li Wait about 10 seconds for the riot's server to update the change. Click on the Verify Account button.
  %br

  = form_tag(token_path, remote: true) do
    = submit_tag 'Generate Token', class: 'btn btn-primary'

  %p#token= ''
  %br

  = bootstrap_form_tag(url: link_account_path) do |f|
    .row
      .col-sm-4
        = f.text_field :summoner_name, label: 'Summoner Name'
      .col-sm-1
        #region
          = f.select :region, ['na', 'br', 'eune', 'euw', 'kr', 'lan', 'las', 'oce', 'ru', 'tr']
    .row
      .col-sm-4
        = f.primary 'Verify Account'

  %hr

  = bootstrap_form_for @user do |f|
    .row
      .col-sm-2
        = f.select :role, [['Top', 'top'], ['Mid', 'mid'], ['Jungle', 'jungle'], ['ADC', 'adc'], ['Support', 'support']]
        = f.select :tier, [['Bronze', 'bronze'], ['Silver', 'silver'], ['Gold', 'gold'], ['Platinum', 'platinum'], ['Diamond', 'diamond'], ['Master', 'master'], ['Challenger', 'challenger']]
    .row
      .col-sm-4
        = f.email_field :email
    .row
      .col-sm-4
        = f.password_field :password
        = f.primary 'Update'