<%= render '/shared/content_title', title: "#{@user.username}'s Profile" %>

<div class='well'>
  <ul class="list-group">
    <li class="list-group-item">Main Role: <%= @user.role.capitalize %></li>
    <li class="list-group-item">Tier: <%= @user.tier.capitalize %></li>
  </ul>
</div>

<h5>Send <%= @user.username %> a message!</h5>
<div class='well'>
  <%= form_tag({controller: 'messages', action: 'create', username: @user.username}, method: 'post') do %>
    <%= label_tag :subject %>
    <%= text_field_tag :subject %>
    <%= label_tag :body %>
    <%= text_area_tag :body %>
    <%= submit_tag 'Send' %>
  <% end %>
</div>