= render '/shared/content_title', title: "#{@user.username}'s Profile"

- if Rails.cache.fetch(@user.summoner_id).nil?
  %ul(class="list-group")
    %li(class="list-group-item")
      Main Role: 
      = @user.role.capitalize
    %li(class="list-group-item")
      Tier: 
      = @user.tier.capitalize
- else
  %h3= Rails.cache.fetch(@user.summoner_id)['entries'].first['playerOrTeamName']

  %ul(class='list-group')
    %li(class="list-group-item")
      Division Name: 
      = Rails.cache.fetch(@user.summoner_id)['name']
    %li(class="list-group-item")
      Tier: 
      = Rails.cache.fetch(@user.summoner_id)['tier']
    %li(class="list-group-item")
      Division:
      = Rails.cache.fetch(@user.summoner_id)['entries'].first['division']
    %li(class="list-group-item")
      League Points: 
      = Rails.cache.fetch(@user.summoner_id)['entries'].first['leaguePoints']
    %li(class="list-group-item")
      Wins: 
      = Rails.cache.fetch(@user.summoner_id)['entries'].first['wins']
    %li(class="list-group-item")
      Losses: 
      = Rails.cache.fetch(@user.summoner_id)['entries'].first['losses']


%hr

%h5
  Send
  = @user.username 
  a message!
= bootstrap_form_tag(url: messages_path, username: @user.username) do |f|
  .form-group
    .col-sm-6
      = f.text_field :subject
      = f.text_area :body, label_col: "col-sm-2", control_col: "col-sm-10"
      = f.hidden_field :username, value: @user.username
      = f.primary 'Send'