= render '/shared/content_title', title: "#{@user.username}'s Profile"

%ul(class="list-group")

  %li(class="list-group-item")
    Main Role: 
    = @user.role.capitalize
  %li(class="list-group-item")
    Tier: 
    = @user.tier.capitalize
%hr

%h5
  Send
  = @user.username 
  a message!
= bootstrap_form_tag(url: messages_path, username: @user.username) do |f|
  .form-group
    .col-sm-6
      = f.text_field :subject
      = f.text_area :body, label_col: "col-sm-2", control_col: "col-sm-10"
      = f.hidden_field :username, value: @user.username
      = f.primary 'Send'