= render '/shared/content_title', title: 'Search for players near you!'

= bootstrap_form_tag url: '/search' do |f|
  .col-sm-2
    = f.text_field :radius, hide_label: true, placeholder: "#{SearchesController::MIN_RADIUS}-#{SearchesController::MAX_RADIUS} mile radius"
  = f.primary 'Search'
%hr

- if @users
  %table.table.table-striped
    %tr
      %td Name
    - @users.each do |user|
      %tr
        %td= link_to user.username, user_path(user)