<%= render '/shared/content_title', title: 'Search for players near you!' %>

<%= form_tag '/search' do %>
  <%= text_field_tag :radius, nil, placeholder: "#{SearchesController::MIN_RADIUS}-#{SearchesController::MAX_RADIUS} mile radius" %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>
<hr/>

<% if @users %>
  <table class='table table-striped'>
    <tr>
      <td>Name</td>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user) %></td>
      </tr>
    <% end %>
  </table>
<% end %>