!!! 5
%html(lang="en-US")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title DuoQFindr | League of Legends Duo Queue Teammate Finder
    %meta(name="application-name" content="DuoQFindr")
    %meta(name="description" content="Search for League of Legends players near you")
    %meta(name="author" content="ForThoWin")
    %meta(name="keywords" content="League of Legends, lol, duo queue, local, search, riot gaming, riot, league, find, search, look")
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    %header
      .navbar
        .navbar-inner
          .container
            = render 'layouts/navigation'
    #main(role="main")
      = render 'layouts/side'
      .container
        .row
          .span12
            = render 'layouts/messages'
            = yield
    = render 'layouts/footer'